<div class="h-100 d-flex align-items-center justify-content-center" >  
  <div class="mt-4">
    <div>
      <h4>Forgotten password</h4>
    </div>
    <hr>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Write your email below, to send link to reset password</label>
        <input
          type="email"
          [className]="
            (forgotPasswordForm.controls.Email.hasError('required') || forgotPasswordForm.controls.Email.hasError('email'))
            ? invalidFormControlClass 
            : validFormControlClass
          "    
          id="email"
          [formControl]="forgotPasswordForm.controls.Email"  
        >
        @if(forgotPasswordForm.controls.Email.hasError('required')) {
          <div class="invalid-feedback">Email is required</div>
        } @else if (forgotPasswordForm.controls.Email.hasError('email')) {
          <div class="invalid-feedback">Invalid email</div>
        }
      </div>
      <div class="row m-2">
        <button
          type="submit"
          class="btn btn-primary col-5 text-center"
          [disabled]="!forgotPasswordForm.valid"
        >
          Send
        </button>
        <div class="col-7">
          <div><a [routerLink]="['/user/register']" class="link">Register</a></div>
          <div><a [routerLink]="['/user/logIn']" class="link">Log in</a></div>
        </div>
      </div>
    </form>
  </div>
</div>