<ng-container [formGroup]="formAnswer">
    <td>
        {{ question.questionNumber }}
    </td>
    <td>
        {{ question.questionText }}
    </td>
    <td>
        @if (isBeforeChecked) {
            <input 
                #answerInput
                type="text"
                class="form-control"
                placeholder="Type answer"
                formControlName="AnswerText"
            >
        } @else {
            @if(showCorrectAnswer) {
                <div class="input-group input-answer-border-radius">
                    <input 
                        #answerInput
                        type="text"
                        [class]="inputClasses"
                        disabled
                        [value]="corectAnswer?.userAnswer"
                    > 
                    <div class="input-group-append">
                            <button 
                            class="btn btn-outline-secondary custom-answer-botton"
                            [hidden]="isCorrect()" 
                            type="button"
                            (click)="changeShowingAnswer()"
                        >
                            Correct
                        </button>
                    </div>
                </div>
            } @else {
                <div class="input-group input-answer-border-radius">
                    <input 
                        #answerInput
                        type="text"
                        [class]="inputClasses"
                        disabled
                        [value]="corectAnswer?.correctAnswer"
                    > 
                    <div class="input-group-append">
                            <button 
                                class="btn btn-outline-secondary custom-answer-botton"
                                [hidden]="isCorrect()" 
                                type="button"
                                (click)="changeShowingAnswer()"
                            >
                                Your answer
                            </button>
                    </div>
                </div>
            }
        }
    </td>
</ng-container>