@if(isForm) {
    <div class="row m-2">
        <div class="col-4 col-sm-5 col-md-4"> Choose continents: </div>
        
        <div class="col-5 col-sm-6 col-md-5">
            @for (checkbox of continentCheckbox.continentCheckoboxes; track checkbox.name; let i= $index) {
                <app-checkbox 
                    [checkbox]="checkbox" 
                    [inOneLine]="inOneLine"
                    (changeCheckForCheckboxEvent)="updateContinentChecbox($event)"
                />
            }
        </div>
    </div>
} @else {
    @for (checkbox of continentCheckbox.continentCheckoboxes; track checkbox.name; let i= $index) {
        <app-checkbox 
            [checkbox]="checkbox" 
            [inOneLine]="inOneLine"
            (changeCheckForCheckboxEvent)="updateContinentChecbox($event)"
        />
    }
}
